.image-container {
  border-radius: var(--border-radius);
  width: var(--width);
  height: var(--height);
  overflow: hidden;

  .background-container {
    width: 100%;
    height: 100%;
    background: var(--textCultured);

    .image {
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius);
      object-fit: var(--object-fit);
      mix-blend-mode: multiply;
    }

    &.with-zoom {
      &:hover {
        transform: scale(1.05);
      }
      transition: ease-in-out 0.15s;
    }
  }
}

:host {
  --border-radius: 15px;
  --width: 100%;
  --height: 100%;
  --object-fit: cover;
}
