.content {
  display: flex;
  flex-direction: column;

  .product-detail {
    display: flex;
    gap: 40px;
    padding-bottom: 64px;

    .left {
      flex: 1 1 0%;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .swiper-container {
        aspect-ratio: 1;
        border-radius: 15px;

        .swiper-slide {
          width: 100% !important;
          aspect-ratio: 1;

          .product-image {
            --border-radius: 15px;
            --object-fit: contain;
          }
        }
      }

      .swiper-container-skeleton {
        aspect-ratio: 1;
      }

      .images-preview-container {
        margin-top: 20px;
        .images-preview {
          margin-right: 10px;
          width: 100%;
          display: flex;
          gap: 6px;

          .image-preview {
            --width: 48px;
            --height: 48px;
            --border-radius: 8px;
          }

          .selected {
            border: 1.5px solid var(--textCoolBlack);
            border-radius: 8px;
          }
        }
      }
    }

    .right {
      width: 344px;

      .store-header {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 12px;
        height: 32px;
        .logo {
          --width: 32px;
          --height: 32px;
          --border-radius: 4px;
          --object-fit: contain;
        }

        .name {
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
        }
      }

      .product-name-container {
        display: flex;
        gap: 16px;
        min-height: 42px;
        justify-content: space-between;
        .product-name {
          font-size: 18px;
          font-weight: 600;
          color: rgb(var(--textYankeesBlue));
          line-height: 20px;

          margin-bottom: 8px;
          flex: 1;
        }

        .heart-button {
          width: 42px;
          min-width: 42px;
          height: 42px;
          border-radius: 100%;
          padding: 0;
          cursor: pointer;

          border: 1px solid rgba(var(--textYankeesBlue), 0.3);
          background-color: transparent;

          .heart-icon {
            height: 18px;
            width: 18px;
            svg {
              height: 18px;
              width: 18px;
              color: rgb(var(--textYankeesBlue));
            }

            &.solid {
              svg {
                color: var(--white);
              }
            }
            &.outlined {
              svg {
                color: rgb(var(--textYankeesBlue));
              }
            }
          }

          &.is-favorite {
            background-color: rgb(var(--primaryPearlAqua));
          }
        }
      }

      .product-price-row {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 26px;
        min-height: 32px;

        .product-sale-price {
          font-size: 20px;
          font-weight: 600;
          color: rgb(var(--secondaryPastelRed));
          line-height: 32px;
        }

        .product-base-price {
          font-size: 20px;
          font-weight: 400;
          color: rgb(var(--textArsenic));
          opacity: 0.5;
          line-height: 32px;
          text-decoration: line-through;
        }
      }

      .quantity-row {
        display: flex;
        padding: 12px 0 12px 0;
        border-top: 1px solid rgb(var(--textCoolBlackDark));
        border-bottom: 1px solid rgb(var(--textCoolBlackDark));
        align-items: center;
        justify-content: center;

        .quantity-label {
          font-size: 16px;
          font-weight: 600;
          color: rgb(var(--textYankeesBlue));
          line-height: 22px;
        }
      }

      .buttons-row {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 26px;
      }

      .description-container {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .description {
          font-size: 14px;
          font-weight: 400;
          color: rgb(var(--textArsenic));
          line-height: 22px;
        }
      }
    }
  }

  .store-related-products-label {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 900px) {
  .content {
    .product-detail {
      display: flex;
      flex-direction: column;
      padding-bottom: 24px;

      .right {
        width: 100%;
      }
    }
  }
}
