<div class="product-item">
  <div class="image-container">
    <app-image [src]="product().images[0]" [withZoom]="true"></app-image>
  </div>
  <div class="product-info">
    <div class="product-name-row">
      <p class="product-name">{{ product().name }}</p>
      <div class="product-price">
        <p class="product-sale-price">{{ product().sale_price | price }}</p>
        <p class="product-base-price">{{ product().base_price | price }}</p>
      </div>
    </div>
    <div class="product-quantity">
      <app-button-stepper
        [value]="productCart().quantity"
        (onAdd)="addUnitToCart(1)"
        (onRemove)="addUnitToCart(-1)"
        type="cart"
      ></app-button-stepper>
    </div>
  </div>
</div>
