:root {
  --primaryYankeesBlue: #9a1663;
  --primaryPearlAqua: #8034da;
  --primaryCultured: #f4f6fa;

  --secondaryMangoTango: #e0144c;
  --secondaryPastelRed: #ff6264;
  --white: #ffffff;

  --textYankeesBlue: 24, 26, 55;
  --textArsenic: 62, 66, 75;
  --textCoolBlack: #07255b;
  --textCultured: #f4f6fa;
  --gray: #8b8b8b;

  --star: #ff7a45;
  --error: #f04438;
  --success: #2aa952;

  --backgroundColorDark: #232427;
  --backgroundColor: #ffffff;

  --textYankeesBlueDark: #ffffff;

  --primaryCulturedDark: #2b3036;
  --textCulturedDark: var(--primaryCulturedDark);

  --textArsenicDark: #b5b8bd;

  --textCoolBlackDark: 231, 231, 231;
  --bgInputDark: #2f3337;
  --bgInput: #f0f3f9;
}
