button {
  height: var(--buttonHeight);
  width: 100%;
  border-radius: 12px;
  --mdc-text-button-label-text-font: "Poppins";
  --mat-text-button-ripple-color: rgba(255, 255, 255, 0.2);
  --mdc-text-button-label-text-tracking: 0px;
  --mdc-text-button-label-text-weight: 500;
  --mdc-text-button-label-text-size: 16px;

  background-color: var(--textCultured);
  --mdc-text-button-label-text-color: var(--textCoolBlack);
  --mat-text-button-state-layer-color: black;

  mat-spinner {
    --mdc-circular-progress-active-indicator-color: rgb(
      var(--primaryPearlAqua)
    );
  }

  .body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .icon {
      width: 24px;
      height: 24px;

      svg {
        height: 24px;
        width: 24px;
      }
    }
  }
}
