<a class="product-item" [routerLink]="['/product', product().id]">
  <div class="image-container">
    <app-image [src]="product().images[0]" [withZoom]="true"></app-image>
    @if (product().discount) {
    <div class="discount">{{ product().discount }}% off</div>
    }
    <button
      mat-icon-button
      class="heart-button center"
      [ngClass]="{ 'is-favorite': product().is_favorite }"
      (click)="toggleFavorite($event)"
    >
      @if (product().is_favorite) {
      <svg-icon
        src="assets/icons/heart_solid.svg"
        class="heart-icon"
      ></svg-icon>
      }@else{
      <svg-icon
        src="assets/icons/heart_outlined.svg"
        class="heart-icon"
      ></svg-icon>
      }
    </button>
  </div>
  <div class="product-info">
    <span class="product-name">{{ product().name }}</span>
    <div class="product-price-row">
      <p class="product-sale-price">{{ salePrice() | price }}</p>
      <p class="product-base-price">{{ basePrice() | price }}</p>
    </div>
  </div>
</a>
