<!-- <p>my-addresses works!</p>
<google-map height="450px" width="1000px" [center]="center" [zoom]="zoom">
</google-map>

<div class="">
  <input type="text" [(ngModel)]="searchInput" (input)="handleInput()" />

  @for (item of addressResults(); track $index) {

  <div>{{ item.description }}</div>
  }
</div> -->

<app-page title="My addresses">
  <div class="addresses">
    @for (item of addressStore.addresses(); track $index) {
    <app-address-item [address]="item"></app-address-item>
    }
  </div>
</app-page>
