.layout {
  width: 100%;
}

header {
  background-color: var(--backgroundColor);
  height: 80px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .header-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-inline: 24px;
    gap: 8px;

    a.logo-container {
      display: flex;
      align-items: center;
      gap: 6px;
      text-decoration: none;

      .logo {
        width: 24px;
      }

      @media screen and (max-width: 1000px) {
        .logo {
          display: none;
        }
      }
      .snappyshop {
        font-size: 22px;
        font-weight: 700;
        line-height: 22px;
        color: rgb(var(--primaryPearlAqua));
      }
    }

    app-search-input {
      width: calc(100% - 450px);
      max-width: 500px;

      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .cart-button,
    .heart-button {
      width: 46px;
      height: 46px;
      background-color: transparent;
      border-radius: 100%;
      border: none;
      cursor: pointer;

      .cart-icon,
      .heart-icon {
        height: 24px;
        width: 24px;

        svg {
          height: 24px;
          width: 24px;
          color: rgb(var(--textYankeesBlue));
        }
      }
    }

    .button-login {
      width: 72px;
      height: 34px;
      border-radius: 10px;
      border: 1px solid rgba(var(--textYankeesBlue), 0.3);
      background-color: transparent;
      cursor: pointer;

      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
      color: rgb(var(--textArsenic));
    }
  }
}

.body {
  max-width: 1200px;
  width: 100%;
  padding: 40px 24px 80px 24px;
  margin: 80px auto 0;
}

@media screen and (max-width: 800px) {
  app-search-input {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  header {
    height: 58px;
  }

  .body {
    padding: 24px 24px 80px 24px;
    margin: 58px auto 0;
  }
}
