<div class="layout">
  <header>
    <div class="header-content">
      <a routerLink="/dashboard" class="logo-container">
        <img src="assets/images/logo.png" alt="logo" class="logo" />
        <span class="snappyshop">SnappyShop</span>
      </a>

      <app-search-input></app-search-input>
      <div class="spacer"></div>
      <button matRipple class="heart-button center">
        <svg-icon
          src="assets/icons/heart_outlined.svg"
          class="heart-icon"
        ></svg-icon>
      </button>

      <button matRipple class="cart-button center">
        <svg-icon
          src="assets/icons/shopping_cart.svg"
          class="cart-icon"
        ></svg-icon>
      </button>

      @if (userService.user()) {
      <button class="profile-button center">
        {{ userService.user()!.name[0] }}
      </button>
      }@else {
      <button matRipple class="button-login">Log in</button>
      }
    </div>
  </header>
  <div class="body">
    <router-outlet />
  </div>
</div>
