<div class="page">
  <h2 class="snappy-title">Change Password</h2>

  <div class="page-content">
    <p class="message">
      Please change your old password, <br />
      and put new password
    </p>
    <form class="form" [formGroup]="form">
      <app-input
        formControlName="password"
        label="New password"
        placeholder="Password"
        name="password"
      ></app-input>
      <app-input
        formControlName="passwordConfirmation"
        label="Confirm new password"
        placeholder="Password"
        name="password"
      ></app-input>
    </form>
    <div style="height: 42px"></div>

    <app-button
      text="Change password"
      (click)="submit()"
      [loading]="loading() == LoadingStatus.Loading"
    ></app-button>
  </div>
</div>
