.content {
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
  margin-top: 64px;

  .message {
    font-size: 14px;
    line-height: 1.5 * 14px;
    font-weight: 500;
    margin-bottom: 40px;

    text-align: center;
  }
  .form {
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--formInputSpacing);
  }
}
