.product-item {
  .product-image {
    width: 100%;
    border-radius: 15px;
  }

  .product-info {
    height: 80px;
    padding: 8px 0;
    .product-name {
      margin-bottom: 8px;

      font-size: 12px;
      font-weight: 500;
      color: var(--textCoolBlack);
      line-height: 1.4 * 12px;
    }

    .product-price {
      font-size: 12px;
      font-weight: 600;
      color: var(--secondaryPastelRed);
      line-height: 1.1 * 12px;
    }
  }
}
