.page {
  max-width: 500px;
  margin: 0 auto;

  .page-content {
    .form {
      height: min-content;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: var(--formInputSpacing);

      margin-bottom: 42px;
    }

    .photo-none {
      width: 180px;
      height: 180px;
      border-radius: 100%;
      background-color: var(--primaryCultured);
      border: none;
      cursor: pointer;
      margin: 0 auto;
      margin-bottom: 30px;

      .profile-icon {
        width: 60px;
        height: 60px;

        svg {
          height: 60px;
          width: 60px;
          color: rgba(var(--textArsenic), 0.5);
        }
      }
    }
  }
}
