<div class="page">
  <h2 class="snappy-title">Account Information</h2>

  <div class="page-content">
    <div class="photo-none center">
      <svg-icon src="assets/icons/profile.svg" class="profile-icon"></svg-icon>
    </div>
    <form class="form" [formGroup]="form">
      <app-input
        formControlName="name"
        label="Name"
        placeholder="Your name"
        name="name"
      ></app-input>
      <app-input
        formControlName="email"
        label="Email"
        placeholder="Your email"
        name="email"
      ></app-input>
    </form>

    <app-button
      text="Save Changes"
      (click)="submit()"
      [loading]="loading"
    ></app-button>
  </div>
</div>
