<div class="page-content">
  <h1 class="title">Log in</h1>

  <p class="subtitle">Please enter your data to continue</p>
  <form class="form" [formGroup]="form">
    <app-input
      formControlName="email"
      label="Email"
      placeholder="Your email"
      name="email"
    ></app-input>
    <app-input
      formControlName="password"
      label="Password"
      placeholder="Password"
      name="password"
    ></app-input>
  </form>
  <div style="height: 42px"></div>

  <app-button text="Log In" (click)="login()" [loading]="loading"></app-button>
  <app-button
    text="Log In Google"
    (click)="loginGoogle()"
    [loading]="loading"
  ></app-button>
</div>
