<div class="search-input-container" (clickOutside)="closeMenu()">
  <div class="input-container" (click)="openMenu()">
    <svg-icon src="assets/icons/search.svg" class="icon"></svg-icon>
    <input
      class="input"
      placeholder="Search"
      [value]="searchStore.filter().search"
      (input)="changeInput($event)"
    />
  </div>

  <div class="menu-container">
    <div
      class="menu"
      [ngClass]="{ show: showMenu() && searchStore.products().length > 0 }"
    >
      @for (product of searchStore.products(); track $index) {
      <a
        class="menu-item"
        matRipple
        [routerLink]="['/product', product.id]"
        (click)="closeMenu()"
      >
        <app-image
          [src]="product.images[0]"
          class="menu-item-image"
        ></app-image>
        <p class="menu-item-label">{{ product.name }}</p>
      </a>
      }

      <a class="more-results" routerLink="/search">View more results</a>
    </div>
  </div>
</div>
