<div class="search-input-container" (clickOutside)="closeMenu()">
  <div class="input-container">
    <svg-icon src="assets/icons/search.svg" class="icon"></svg-icon>
    <input
      class="input"
      placeholder="Search"
      [value]="searchStore.searchInput()"
      (input)="handleInput($event)"
      (keydown.enter)="onSubmit()"
      (focus)="onFocus()"
    />
    @if (searchStore.searchingProducts() == LoadingStatus.Loading) {
    <mat-spinner diameter="20" color="#ffffff"></mat-spinner>
    }
  </div>

  <div class="menu-container">
    <div
      class="menu"
      [ngClass]="{
        show:
          showMenu() && searchStore.searchingProducts() == LoadingStatus.Sucess
      }"
    >
      @if(searchStore.preResults().length > 0){ @for (product of
      searchStore.preResults(); track $index) {
      <a
        class="menu-item"
        matRipple
        [routerLink]="['/product', product.id]"
        (click)="closeMenu()"
      >
        <app-image
          [src]="product.images[0]"
          class="menu-item-image"
        ></app-image>
        <p class="menu-item-label">{{ product.name }}</p>
      </a>
      }
      <p class="more-results" (click)="viewMoreResults()">View more results</p>
      }@else {
      <div class="no-results">No results.</div>
      }
    </div>
  </div>
</div>
